<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>VehicleMint - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="fonts/fontawesome/css/all.min.css">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="position-relative">
      <div class="container">
        <!-- This Is a First nav -->
        <div class="nav-one">
          <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand logo " href="index.html">
              <%= image_tag("logo.jpg", :alt => "", class: "img-fluid") %>
              <!-- Vehicle<b>Maint</b> -->
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#secoundnavbar" aria-controls="secoundnavbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            </button>
          </nav>
        </div>

        <!-- This is a Soucand nav -->
        <div class="nav-tow">
          <nav class="navbar navbar-expand-lg py-0">
            <div class="collapse navbar-collapse p-1" id="secoundnavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item pr-3">
                      <a class="nav-link active" href="/">Home</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="/">About Us</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="/">Vehicles For Sale</a>
                </li>
                <li class="nav-item px-3">
                  <a class="nav-link" href="/history">History Update</a>
                </li>
                <li class="nav-item px-3">
                <a class="nav-link" href="/contact">Contact</a>
                </li>
                <button class="position-absolute live-chat py-1 px-2 tr-3s"><i class="fas fa-headset mr-2"></i> Live Chat</button>
              </ul>
            </div>
          </nav>
        </div>
      </div>

      <!-- This Is a Latest News nav -->
      <div class="nav-news py-1">
        <div class="container">
          <p class="p-1 m-0">
            <b>Latest News:</b>
            <span class="pl-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum amet deleniti harum.</span>
          </p>
        </div>
      </div>
    </header>

    <%= yield %>

    <footer>
      <div class="container">
        <div class="copyright">
            <p class="m-0">Copyright 2020</p>
            <p class=" m-0">Design By <b> Abdulrahman</b></p>
        </div>
      </div>
    </footer>

    <script
      src="https://kit.fontawesome.com/7290f27402.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
